body {
    background-color: black;
}

#gifForm {
    color: white;
}

#gifButtons {
    float: left;
}

p {
    font-weight: bold;
    margin-bottom: 0px;
    color: white;
}

.gif-item {
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
}